<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.easyrest.tests.Listeners"/>
    </listeners>
    <test verbose="2" name="C:\Users\shere\IdeaProjects\EasyRest-Testing">
        <classes>
            <class name="com.easyrest.tests.administrator.AdministratorOperationsTest"></class>
            <class name="com.easyrest.tests.administrator.AdministratorSignInTest"></class>
            <class name="com.easyrest.tests.administrator.AdministratorTest"></class>
            <class name="com.easyrest.tests.adminTests.ActionOnClientTests"></class>
            <class name="com.easyrest.tests.adminTests.AddModeratorTest"></class>
            <class name="com.easyrest.tests.adminTests.SignInTests"></class>
            <class name="com.easyrest.tests.customer.SignInTest"></class>
            <class name="com.easyrest.tests.owner.ActionWithEmployeeTest"></class>
            <class name="com.easyrest.tests.owner.AddSecondRestaurantTest"></class>
            <class name="com.easyrest.tests.owner.OwnerSignInTest"></class>
            <class name="com.easyrest.tests.SignUpTest"></class>
        </classes>
    </test>
</suite>